.header {
    background-color: var(--ddd_green);
    color: white;
    margin: 0px;
    height: 10rem;
    vertical-align: middle;
    display: flex;
    align-items:center;
    justify-content:center;
}

.header h1 {
    margin: auto;
}