.filter {
    background-color: beige;
    padding: 1rem;
    max-width: 20rem;
    margin: auto;
}

.filter label {
    padding-right: 10px;
}

.filter select {
    margin-right: 1.5rem;
    color: rgb(70, 70, 70);
}